p{
    color: #000;
}

.card-pb{
    border: .5px solid rgba(0, 0, 0, .1);
    box-shadow: 4px 2px rgba(0,0,0,.2);
}

.label-card-pb{
    font-size: 12px;
    font-weight: 900;
    color: #ff0000;
}

@media screen and (min-width: 360px) {
    .container-menu-phrasal-pb{
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: 12px auto;
    }

    .square-menu-pb{
        margin-bottom: 20px;
        margin-right: 20px;
    }
    
}

@media screen and (min-width: 768px) {
    .container-menu-phrasal-pb{
        width: 95%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-top: 20px;
    }
}

@media screen and (min-width: 1024px) {
    .container-menu-phrasal-pb{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        margin-top: 20px;
    }
}

.square-menu-pb{
    background: linear-gradient(90deg, rgba(9,92,121,1) 0%, rgba(0,185,255,1) 100%);
    height: 140px;
    color: #fff;
    border-radius: 15px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 0 16px;
    font-size: 24px;
    font-weight: 500;
    transition: .3s;
}

.square-menu-pb:hover{
    transform: scale(1.1);
}