@media screen and (min-width: 360px) {
    .container-card-pb{
        display: flex;
        flex-direction: column;
        width: 75%;
        margin: 0 auto;
        margin-top: 1em;
    }

    .card-nationality{
        border-radius: 5px;
        margin-top: -2.9em;
        border-bottom: .5px solid rgba(0, 0, 0, .8);
    }

    .img-nationalities-pb{
        width: 60%;
        height: 85px;
    }

    .container-img-nationality-pb{
        margin-top: 4em;
        display: flex;    
        justify-content: center;;
    }
}

@media screen and (min-width: 480px) {
    .container-card-pb{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5em;
        width: 85%;
    }

    .card-nationality{
        padding: 10px;
        margin-top: .1em;
        border: .5px solid rgba(0, 0, 0, .1);
        box-shadow: 3px 1px rgba(0,0,0,.2);
    }

    .container-img-nationality-pb{
        margin-top: .6em;
    }

    .img-nationalities-pb{
        width: 85%;
    }
}

@media screen and (min-width: 730px) {
    .container-card-pb{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 90%;
    }
}

@media screen and (min-width: 920px) {
    .container-card-pb{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        width: 100%;
    }
}

@media screen and (min-width: 1124px) {
    .container-card-pb{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
    }
}

.container-tag-pb{
    margin-top: 10px;
}

.tag-card-pb{
    color: red;
    font-size: 12px;
    font-weight: 900;
}
