
.content-verbs-pb{
    height: 160px;
    padding: 12px;
    background: red;
    border-radius: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.letter-verbs{
    color: #fff;
    font-size: 24px;
}

@media screen and (min-width: 360px) {
    .container-verbs-pb{
        display: block;
        width: 100%;
    }

    .square-verbs-pb{
        width: 100%;
        margin-top: 12px;
    }
}

@media screen and (min-width: 768px) {
    .container-verbs-pb{
        display: flex;
        justify-content: space-evenly;
        width: 100%;
    }
    
    .square-verbs-pb{
        width: 40%;
        margin-top: 64px;
    }    
}