.container-verbs-pb{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    height: 100vh;
    gap: 2em;
}

.container-regular-pb{
    background: red;
    grid-column-start: 2;
    grid-row-start: 3;
}

.container-irregular-pb{
    background: blue;
    grid-column-start: 3;
    grid-row-start: 3;
}