
.content-verbs-pb{
    height: 160px;
    padding: 12px;
    background: linear-gradient(90deg, rgba(9,92,121,1) 0%, rgba(0,185,255,1) 100%);
    border-radius: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    transition: .3s;
}

.content-verbs-pb:hover{
    transform: scale(1.1);
}

@media screen and (min-width: 360px) {
    .container-verbs-pb{
        display: block;
        width: 100%;
    }

    .square-verbs-pb{
        margin: 0 auto;
        width: 75%;
        margin-top: 12px;
    }

    .letter-verbs{
        color: #fff;
        font-size: 20px;
    }
}

@media screen and (min-width: 768px) {
    .container-verbs-pb{
        display: flex;
        justify-content: space-evenly;
        width: 100%;
    }
    
    .square-verbs-pb{
        width: 40%;
        margin-top: 64px;
    }   
    
    .letter-verbs{
        font-size: 24px;
    }
}

/*TABLE*/

@media screen and (min-width: 360px) {
    table{
        margin-top: 10px;
        font-size: 11px;
    }
} 

@media screen and (min-width: 768px) {
    table{
        font-size: 16px;
        margin-top: 16px;
    }
}

table tr th,
table tr td{
    padding: 5px 8px;
}

table tr td{
    border-bottom: 1px solid rgba(65, 64, 64, 0.3);
}

.end-verbs{
    color:#ff0000;
}

.end-verbs-none{
    display: none;
}
